* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 2;
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#resumeForm {
  display: block;
  padding: 10px 15px;
  margin-left: 25%;
  max-width: 50%;
}

h1 {
  text-align: center;
  color: #003366;
  font-size: 2.5rem;
}

h3 {
  color: #003366;
  font-size: 1.8rem;

}

label {
  font-weight: 600;
  color: #003366;
  font-size: 1rem;
  display: block;
  margin-bottom: 1.5rem;
}

input {
  padding: 10px 5px;
  border-radius: 5px;
  width: 90%;
  border: 2px solid #003366;
}

#photo {
  background-color: white;
}

legend {
  color: #003366;
  font-size: 1.5rem;
}

.text-box {
  border: 2px solid #003366;
  width: 100%;
  height: 130px;
  border-radius: 10px;
}

button {
  padding: 15px 10px;
  margin-top: 25px;
  font-weight: bold;
  text-align: center;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

button:hover {
  background-color: #003366;
}

.btn {
    padding: 15px 10px;
    text-align: center;
    font-weight: bold;

}

.hidden {
  display: none;
}

#resumePhoto {
    border-radius: 50%;
    margin-top: 30px;
    height: 160px;
    width: 160px;
    object-fit: cover;
    border: 5px solid #003366;
    
}

h2 {
    color:  #003366;
    font-size: 1.8rem;
    margin-top: -10px;
    text-align: center;
}


#container , #resumePage {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15); 

}


 form div {
    margin-bottom: 1.5rem;
 }
  

 #resumePage {
    padding-left: 25%;
    align-items: center;
 }

 h1, h3, label, legend {
    text-decoration: none; /* Remove underline */
  }
  