* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

h2 {
    color: #444;
    margin: 10px auto;
    text-decoration: underline;
}

.profile-pic {
    padding-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#skills ul {
    display: none;
}
